package () {
  msg2 'Locating extension...'
  extdir="$(find -name '*@*')"
  cd "$extdir"

  msg2 'Installing extension code...'
  install -Dm644 -t "$pkgdir/usr/share/gnome-shell/extensions/$(basename $extdir)" *.js*

  if [ -d schemas ]; then
    msg2 'Installing schemas...'
    install -Dm644 -t "$pkgdir/usr/share/glib-2.0/schemas" schemas/*.xml
  fi
}

# vim: filetype=sh
