package_01_locate() {
  msg2 'Locating extension...'
  extdir="$(find -name '*@*')"
  cd "$extdir"
}

package_02_install() {
  msg2 'Installing extension code...'
  install -Dm644 -t "$pkgdir/usr/share/gnome-shell/extensions/$(basename $extdir)" *.js*
}

# vim: filetype=sh
