makedepends+=(jq)
source+=("release::${_giturl:-${url/github.com/api.github.com\/repos}/releases/latest}")
md5sums+=('SKIP')

prepare() {
  local url="$(jq -r '.assets[0].browser_download_url' release)"
  local archive="${url##*/}"
  if [ ! -e "$archive" ]; then
    curl -Lo "$archive" "$url"
  fi
  unzip -o "$archive"
}

pkgver() {
  jq -r .tag_name release | grep -o '[[:digit:].]*$'
}

# vim: filetype=sh
